@import url("https://fonts.googleapis.com/css?family=Aldrich");

body {
  display: grid;
  justify-content: center;
  font-family: Aldrich, sans-serif;
  background-color: teal;
}

button {
  border-width: 1px;
  transition: all 0.1s ease-in;
  outline: none;
}
button:hover {
  opacity: 0.9;
}

.page-container {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: xxx-large;
  text-transform: uppercase;
  color: #e0ff3a;
}

#grid-container {
  display: grid;
  height: 500px;
  width: 500px;
  border: 10px solid black;
  background-color: white;
}

.page-buttons {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-between;
  align-content: space-between;
  border: 0px;
}
.top-buttons {
  height: 40px;
}
.top-buttons button {
  border-radius: 25%;
  background-color: #9a2027;
  font-family: Aldrich, sans-serif;
  text-shadow: rgb(193 76 174) 3px 1px 4px;
}

.color-buttons {
  width: auto;
  flex-grow: 1;
  background: none;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
  font-family: Aldrich, sans-serif;
  text-shadow: rgb(193 76 174) 3px 1px 2px;
  border-radius: 100px;
  opacity: 80%;
}
.bottom-buttons {
  margin: 20px;
}
.active {
  box-shadow: inset 0px 0px 13px rgb(216 6 6);
  opacity: 100%;
}

.black-button {
  background-color: black;
}
.rainbow-button {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.lights-out {
  background-image: linear-gradient(to right, white, black);
}

.grid-cell {
  background-color: white;
}
